{% load static%}
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5" style="background-image: none !important;">
        <div class="container py-5">
            <div class="row g-5 justify-content-center text-center">
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">MedAgenda</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Av. Miguel Iturralde 45, Latacunga, Ecuador</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+593 99 680 6395</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>contacto@medagenda.com</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">Horario de atención</h4>
                    <h6 class="text-light">Lunes a Sábado</h6>
                    <p class="mb-0">08:00 AM - 06:00 PM</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-12 text-center">
                        &copy; <a class="border-bottom" href="#">MedAgenda</a>, Todos los derechos reservados 2026.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'public/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'public/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'public/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'public/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'public/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'public/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'public/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'public/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'public/js/main.js' %}"></script>

    <!-- Spinner Fallback: oculta el spinner si main.js falla o tarda demasiado -->
    <script>
        setTimeout(function () {
            var spinner = document.getElementById('spinner');
            if (spinner && spinner.classList.contains('show')) {
                spinner.classList.remove('show');
            }
        }, 3000);
    </script>

</body>

</html>